# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
dist/
build/
.npm

# Models & data
*.task
*.tflite
*.onnx
data/
*.db
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Word temp files
~$*
